{% extends 'base.html' %}
{% load static %}
{% block maincontent %}



<!--Main Content Start-->
<div class="main-content">
  <!--Welcome Section-->
  <section class="welcome-section">
    <div class="container">
      <div class="row">
        <div class="welcome-box">
          <div class="col-md-6 col-sm-6">
            <div class="welcome-text">
              <div class="sectio-title-2"> <strong>Samsi Networks</strong>
                <h2>For all Networks and Telecom Solutions</h2>
              </div>
              <p> We provide quality services to our customer due to our competency and Several years of experience </p>
			  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
              
            </div>
			
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="welcome-img"> <img src="{% static 'samsi_networks/images/computer2.jpg' %}" alt=""> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Welcome Section End-->

  <!--Home Services Start-->
  <section class="home-features">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="features-box">
            <h3>Fiber Optics Connections</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s.</p> <a href="#"></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="features-box selected">
            <h3>Wireless networks</h3>
            <p>Pellentesque ligula odio, tempor sit amet fringilla vitae, pulvinar ullamcorper quamenatibus et
              magnis dis parturient montes nasce</p>
            <a href="#"></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="features-box">
            <h3>When to find us</h3>
            <p><span>Monday-Friday:</span> Full Day<br>
              <span>Satuday:</span> Full Day<br>
              <span>Sunday:</span> 7:00am - 05:00pm<br>
            </p>
            <a href="{% url 'contact' %}">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--Home Services End-->
  

  <!--Services Section Start-->
  <section class="home-services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title-3"> <strong>Our Services</strong>
            <h2>We offer these services</h2>
          </div>
        </div>

        <!--service style 1-->
        <div class="col-md-12">
          <div class="service-style-1">
            <div class="row">
              <!--service box start-->
              {% for service in services %}
              <div class="col-md-3 col-sm-3">
                <div class="service-box">
                  <div class="ser-thumb"> <a href="{% url 'service_details' service.id %}" class="view"><i
                        class="fa fa-computer" aria-hidden="true"></i></a> <img src="{{ service.thumbnail.url }}"
                      alt="">
                  </div>
                  <div class="ser-content">
                    <h3><a href="{% url 'service_details' service.id %}">{{ service.title }}</a></h3>
                    <p>{{ service.description|truncatewords:15 }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!--service box End-->
            </div>
          </div>
        </div>
        <!--service style 1 End-->

      </div>
    </div>
  </section>
  <!--Services Section End-->

  <!--Samsi Networks Start-->
  <section class="samsi_networks-services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title-3 white"> <strong>Our Core</strong>
            <h2>Our Services</h2>
          </div>
        </div>
        <div class="col-md-5 col-sm-5">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#service-1" aria-controls="service-1" role="tab"
                data-toggle="tab"> <i class="fa fa-computer"></i> Fiber Optics Connections</a></li>
            <li role="presentation"><a href="#service-2" aria-controls="service-2" role="tab" data-toggle="tab"> <i
                  class="fa fa-computer"></i> Wireless networks</a></li>
            <li role="presentation"><a href="#service-3" aria-controls="service-3" role="tab" data-toggle="tab"> <i
                  class="fa fa-computer"></i> Cisco and Firewall configurations</a></li>
            <li role="presentation"><a href="#service-4" aria-controls="service-4" role="tab" data-toggle="tab"> <i
                  class="fa fa-computer"></i> Data center</a></li>
            <li role="presentation"><a href="#service-5" aria-controls="service-5" role="tab" data-toggle="tab"> <i
                  class="fa fa-computer"></i> System security and alarms systems.(CCTV, fire alarms, door and window sensors) </a></li>
            <li role="presentation"><a href="#service-6" aria-controls="service-6" role="tab" data-toggle="tab"> <i
                  class="fa fa-computer"></i> LAN installation and management</a></li>
          </ul>
        </div>
        <div class="col-md-7 col-sm-7">

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="service-1">
              <div class="ser-tab-text">
                <h3>Fiber Optics Connections</h3>
                <p> <i class="fa fa-computer"></i> Ut finibus sem in erat pretium, ultrices semper lorem
                  aliquet. Nulla ultricies sagittis tellus at elementum. Cras consectetur congue diam nec imperdiet.
                  Phasellus accumsan faucibus lectus. </p>
                <ul>
                  <li><i class="fa fa-check"></i> Vestibulum gravida massa ac sem potitor, ac effic.</li>
                  <li><i class="fa fa-check"></i> Quisque non lacus tempus nisi fringilla feugiat.</li>
                  <li><i class="fa fa-check"></i> Sed pretium diam in maximus is consectetur.</li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-2">
              <div class="ser-tab-text">
                <h3>Wireless networks</h3>
                <p> <i class="fa fa-computer"></i> Ut finibus sem in erat pretium, ultrices semper lorem aliquet.
                  Nulla ultricies sagittis tellus at elementum. Cras consectetur congue diam nec imperdiet.
                  Phasellus accumsan faucibus lectus. </p>
                <ul>
                  <li><i class="fa fa-check"></i> Vestibulum gravida massa ac sem potitor, ac effic.</li>
                  <li><i class="fa fa-check"></i> Quisque non lacus tempus nisi fringilla feugiat.</li>
                  <li><i class="fa fa-check"></i> Sed pretium diam in maximus is consectetur.</li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-3">
              <div class="ser-tab-text">
                <h3>Cisco and Firewall configurations</h3>
                <p> <i class="fa fa-computer"></i> Ut finibus sem in erat pretium, ultrices semper lorem aliquet. Nulla
                  ultricies sagittis tellus at elementum. Cras consectetur congue diam nec imperdiet. Phasellus
                  accumsan faucibus lectus. </p>
                <ul>
                  <li><i class="fa fa-check"></i> Vestibulum gravida massa ac sem potitor, ac effic.</li>
                  <li><i class="fa fa-check"></i> Quisque non lacus tempus nisi fringilla feugiat.</li>
                  <li><i class="fa fa-check"></i> Sed pretium diam in maximus is consectetur.</li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-4">
              <div class="ser-tab-text">
                <h3>Data center</h3>
                <p> <i class="fa fa-computer"></i> Ut finibus sem in erat pretium, ultrices semper lorem aliquet.
                  Nulla ultricies sagittis tellus at elementum. Cras consectetur congue diam nec imperdiet.
                  Phasellus accumsan faucibus lectus. </p>
                <ul>
                  <li><i class="fa fa-check"></i> Vestibulum gravida massa ac sem potitor, ac effic.</li>
                  <li><i class="fa fa-check"></i> Quisque non lacus tempus nisi fringilla feugiat.</li>
                  <li><i class="fa fa-check"></i> Sed pretium diam in maximus is consectetur.</li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-5">
              <div class="ser-tab-text">
                <h3>System security and alarms systems. Eg CCTV, fire alarms, door and window sensors</h3>
                <p> <i class="fa fa-computer"></i> Ut finibus sem in erat pretium, ultrices semper lorem aliquet.
                  Nulla ultricies sagittis tellus at elementum. Cras consectetur congue diam nec imperdiet.
                  Phasellus accumsan faucibus lectus. </p>
                <ul>
                  <li><i class="fa fa-check"></i> Vestibulum gravida massa ac sem potitor, ac effic.</li>
                  <li><i class="fa fa-check"></i> Quisque non lacus tempus nisi fringilla feugiat.</li>
                  <li><i class="fa fa-check"></i> Sed pretium diam in maximus is consectetur.</li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-6">
              <div class="ser-tab-text">
                <h3>LAN installation and management</h3>
                <p> <i class="fa fa-computer"></i> Ut finibus sem in erat pretium, ultrices semper lorem aliquet.
                  Nulla ultricies sagittis tellus at elementum. Cras consectetur congue diam nec imperdiet.
                  Phasellus accumsan faucibus lectus. </p>
                <ul>
                  <li><i class="fa fa-check"></i> Vestibulum gravida massa ac sem potitor, ac effic.</li>
                  <li><i class="fa fa-check"></i> Quisque non lacus tempus nisi fringilla feugiat.</li>
                  <li><i class="fa fa-check"></i> Sed pretium diam in maximus is consectetur.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Samsi Networks End-->



  <!--Testimonials + Faqs Start-->
  <section class="testi-faq">
    <div class="container">
      <div class="row">

        <!--Testimonials Start-->
        <div class="col-md-6">
          <div class="home-testimonials">
            <div class="sectio-title-2"> <strong>Our Clients</strong>
              <h2>Testimonials</h2>
            </div>
            <div id="testimonial-slider" class="owl-carousel owl-theme">

              <!--Slider Start-->
              <div class="item">
                <div class="testimonial-holder">
                  <div class="user-thumb"> <img src="{% static 'samsi_networks/images/tuser.jpg' %}" alt=""> <strong>My Kimani</strong>
                    <i>for CCTV Installation</i> </div>
                  <div class="test-text">
                    <p>Quisque egestas libero vitae lacus sagittis, eget
                      viverra tellus vehicula. Aenean efficitur faucibus felis, non laoreet nisl congue non. In quis
                      pharetra urna. Aliquam in enim efficitur, bibendum dolor eu, elementum turpis.
                    </p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-holder">
                  <div class="user-thumb"> <img src="{% static 'samsi_networks/images/tuser-2.jpg' %}" alt=""> <strong>Hudson</strong>
                    <i>Fiber Installation</i> </div>
                  <div class="test-text">
                    <p>Quisque egestas libero vitae lacus sagittis, eget
                      viverra tellus vehicula. Aenean efficitur faucibus felis, non laoreet nisl congue non. In quis
                      pharetra urna. Aliquam in enim efficitur, bibendum dolor eu, elementum turpis.
                    </p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-holder">
                  <div class="user-thumb"> <img src="{% static 'samsi_networks/images/tuser.jpg' %}" alt=""> <strong>Stone</strong>
                    <i>Cisco Configuration</i> </div>
                  <div class="test-text">
                    <p>Quisque egestas libero vitae lacus sagittis, eget
                      viverra tellus vehicula. Aenean efficitur faucibus felis, non laoreet nisl congue non. In quis
                      pharetra urna. Aliquam in enim efficitur, bibendum dolor eu, elementum turpis.
                    </p>
                  </div>
                </div>
              </div>

              <!--Slider End-->

            </div>
          </div>
        </div>
        <!--Testimonials End-->

        <!--FAQ Start-->
        <div class="col-md-6">
          <div class="home-faq">
            <div class="sectio-title-2"> <strong>Feel Free For</strong>
              <h2>Any FAQ’s</h2>
            </div>
            <div class="faqs">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion"
                        href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> How much you charge
                        for the services </a> </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                        data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Do you sell network accesories </a> </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                        data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree"> How Long does it take </a> </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                    aria-labelledby="headingThree">
                    <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!--FAQ End-->

      </div>
    </div>
  </section>
  <!--Testimonials + Faqs End-->

</div>
<!--Main Content End-->
{% endblock maincontent %}